.header{
  height: 200px;
  width: 200%;
  background-color : white;
  padding-top: 20px;
}

.vertical-line {
  width: 1px;
  height: 100px; 
  background-color: #000; 
  margin: 0 10px; 
}

.home-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center; 
 } 

/* Style for the left content */
.left-content {
  display: flex;
  align-items: center; 
  margin-left: 200px;
}

/* Style for the vertical line */
.vertical-line {
  width: 1px;
  height: 100px; /* Adjust the height as needed */
  background-color: #000; /* Adjust the color as needed */
  margin: 0 10px; /* Adjust the margin as needed */
}

/* Style for the "Web Development Tracker" text */
.tracker-text {
  margin-left: 10px; /* Adjust the margin as needed */
}


.logo-image {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  margin-left: 10px; /* Adjust the margin as needed */
}

.mobile-menu-toggle {
  position: absolute;
  top: 10px; 
  left: 10px; 
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.mobile-menu-toggle:hover {
  opacity: 0.7;
}


.card-container{
  top: 0;
  left: 200px;
  height: 280px;
  width: 280px;
  box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper{
  width: 324px; 
  height: 440px; 
  box-shadow: 0px 2px 50px #A5A5A5;
  display: flex;
  flex-direction: column;
}

.create-task-description-box {
  background-color: #E7E7E7 !important; 
  padding: 5px !important; 
  border-radius: 5px !important; 
}


.card-top{
  width: 100%;
  height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display : flex;
  flex-direction: column;
  position: relative;
}

.card-header{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 120px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.description-box {
  background-color: #FFD166; 
  padding: 5px; 
  border-radius: 5px; 
}




.task-container{
  width:  calc(100% - 210px);
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f7f872;
  padding-top: 20px;
  margin-top: 260px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  left: 210px;
}
